* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 
  background-image: url("../img/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; 
  */
  /* background: color image repeat position/size; */
  background: url("../img/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  margin: 56px auto 0;
  width: 360px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  /* display: block; */
  /* margin: auto; */
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}
