* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 
  background-image: url("../img/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; 
  */
  /* background: color image repeat position/size; */
  background: url("../img/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  margin: 56px auto 0;
  width: 360px;
  padding: 0 24px;
}

/*  */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  /* display: block; */
  /* margin: auto; */
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* LISTAS */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid #ffffff;
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
